@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

html,
body {
  font-family:
    var(--font-poppins),
    var(--font-open-sans),
    var(--font-roboto),
    sans-serif,
    -apple-system,
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans";

  font-display: "swap";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(0, 0%, 10%);
  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(0, 0%, 10%);
  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(0, 0%, 10%);
  --primary: hsl(0, 0%, 20%);
  --primary-foreground: hsl(0, 0%, 98%);
  --secondary: hsl(0, 0%, 97%);
  --secondary-foreground: hsl(0, 0%, 20%);
  --muted: hsl(0, 0%, 97%);
  --muted-foreground: hsl(0, 0%, 55%);
  --accent: hsl(0, 0%, 97%);
  --accent-foreground: hsl(0, 0%, 20%);
  --destructive: hsl(0, 72%, 55%);
  --destructive-foreground: hsl(0, 72%, 55%);
  --border: hsl(0, 0%, 92%);
  --input: hsl(0, 0%, 92%);
  --ring: hsl(0, 0%, 87%);
  --chart-1: hsl(41, 80%, 50%);
  --chart-2: hsl(184, 50%, 40%);
  --chart-3: hsl(227, 40%, 30%);
  --chart-4: hsl(84, 70%, 60%);
  --chart-5: hsl(70, 70%, 55%);
  --radius: 10px;
  --color-1: hsl(0 100% 63%);
  --color-2: hsl(270 100% 63%);
  --color-3: hsl(210 100% 63%);
  --color-4: hsl(195 100% 63%);
  --color-5: hsl(90 100% 63%);
}

.dark {
  --background: hsl(0, 0%, 10%);
  --foreground: hsl(0, 0%, 98%);
  --card: hsl(0, 0%, 10%);
  --card-foreground: hsl(0, 0%, 98%);
  --popover: hsl(0, 0%, 10%);
  --popover-foreground: hsl(0, 0%, 98%);
  --primary: hsl(0, 0%, 98%);
  --primary-foreground: hsl(0, 0%, 20%);
  --secondary: hsl(0, 0%, 27%);
  --secondary-foreground: hsl(0, 0%, 98%);
  --muted: hsl(0, 0%, 27%);
  --muted-foreground: hsl(0, 0%, 70%);
  --accent: hsl(0, 0%, 27%);
  --accent-foreground: hsl(0, 0%, 98%);
  --destructive: hsl(0, 72%, 45%);
  --destructive-foreground: hsl(0, 72%, 60%);
  --border: hsl(0, 0%, 27%);
  --input: hsl(0, 0%, 27%);
  --ring: hsl(0, 0%, 43%);
  --chart-1: hsl(264, 80%, 50%);
  --chart-2: hsl(162, 50%, 55%);
  --chart-3: hsl(70, 70%, 55%);
  --chart-4: hsl(303, 90%, 60%);
  --chart-5: hsl(16, 80%, 50%);
  --color-1: hsl(0 100% 63%);
  --color-2: hsl(270 100% 63%);
  --color-3: hsl(210 100% 63%);
  --color-4: hsl(195 100% 63%);
  --color-5: hsl(90 100% 63%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --color-color-5: var(----color-5);
  --color-color-4: var(----color-4);
  --color-color-3: var(----color-3);
  --color-color-2: var(----color-2);
  --color-color-1: var(----color-1);

  @keyframes aurora-border {
    0%,
    100% {
      borderradius: 37% 29% 27% 27% / 28% 25% 41% 37%;
    }
    25% {
      borderradius: 47% 29% 39% 49% / 61% 19% 66% 26%;
    }
    50% {
      borderradius: 57% 23% 47% 72% / 63% 17% 66% 33%;
    }
    75% {
      borderradius: 28% 49% 29% 100% / 93% 20% 64% 25%;
    }
  }

  @keyframes aurora-1 {
    0%,
    100% {
      top: 0;
      right: 0;
    }
    50% {
      top: 50%;
      right: 25%;
    }
    75% {
      top: 25%;
      right: 50%;
    }
  }

  @keyframes aurora-2 {
    0%,
    100% {
      top: 0;
      left: 0;
    }
    60% {
      top: 75%;
      left: 25%;
    }
    85% {
      top: 50%;
      left: 50%;
    }
  }

  @keyframes aurora-3 {
    0%,
    100% {
      bottom: 0;
      left: 0;
    }
    40% {
      bottom: 50%;
      left: 25%;
    }
    65% {
      bottom: 25%;
      left: 50%;
    }
  }

  @keyframes aurora-4 {
    0%,
    100% {
      bottom: 0;
      right: 0;
    }
    50% {
      bottom: 25%;
      right: 40%;
    }
    90% {
      bottom: 50%;
      right: 25%;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::selection {
  background-color: var(--primary);
  color: var(--foreground);
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 5px;
  background-color: var(--background);
  border-radius: 8px;
  scrollbar-width: thin;
}

::-webkit-scrollbar-thumb {
  background-color: #78777c;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--background);
}
.animate-gradient {
  animation: gradient var(--animation-duration, 8s) linear infinite;
}

.animate-accordion-down {
  animation: accordion-down 0.2s ease-out;
}

.animate-accordion-up {
  animation: accordion-up 0.2s ease-out;
}

@theme {
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-gradient: animate-gradient var(--animation-duration, 8s) linear
    infinite;

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}
